*{margin: 0; padding: 0; box-sizing: border-box;
/* font-family: 'Lemonada', cursive;*/}
.site-header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(57deg,#00c6a7,#1e4d92) ;
    clip-path: polygon(0% 0%,100% 0%,100% 75%,0% 100%);
}
nav{
    width: 100%; height: 100px; display: flex ; color: white;
}
.logo{
    width: 70%; height:50px;
}
.logo h1{ line-height: 250%; padding-left: 70px;}
.menu{
    width: 50%; height: 80px ;}
.menu ul {
    width: 100%; height: 80px;
    display: flex; flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul li { list-style: none; font-size: 12px;
font-weight: bold; text-transform: uppercase;}
section{display: flex;
}
.leftside { width: 45%; height: auto;
overflow: hidden; margin-top: 20px;}


.a{
    background-color: red;
    background:linear-gradient(57deg,#00c6a7,#1e4d92);
    
}
/*.leftside img{ width: 600px0; height: 500px;}*/
.rightside{
    width: 55%; height: 100px;color: wheat;
    text-align: center; margin-top: 40px;
    padding: 20px;
}
.rightside{
    font-size:25px; font-weight: 100;
    text-transform: uppercase;
}
.rightside h1{font-size: 50px;font-weight: 900;
    text-transform: uppercase;
}
.rightside button{
    font-size: 17px; font-weight: bold;
    color: white;text-transform: uppercase;
    background: linear-gradient(57deg,#00c6a7,#1e4d92);
    border-radius: 4px; padding: 20px 35px;
}
.rightside button:hover{
    background: linear-gradient(57deg,#00c6a7,#1e4d92);
}